.env
composer.lock
vendor/
.vscode/
.idea
psysh
.phpunit.result.cache
phpunit_var_*.xml
coverage/
clover.xml
tenant-schema-test.dump
tests/Etc/tmp/queuetest.json
docker-compose.override.yml
.php-cs-fixer.cache
