language: php
php:
  - '7.1'
  - '7.2'

branches:
  only:
    - master

install:
  - travis_retry composer install --no-interaction

script: vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)