language: php
php:
  - '7.2'
  - '7.1'

branches:
  only:
    - master

before_install:
  - echo "extension = redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

install:
  - travis_retry composer install --no-interaction

script: vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - export CODECOV_TOKEN="24382d15-84e7-4a55-bea4-c4df96a24a9b"
  - bash <(curl -s https://codecov.io/bash)