includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        # - tests

    level: 8

    universalObjectCratesClasses:
        - Illuminate\Routing\Route
        - Illuminate\Database\Eloquent\Model

    ignoreErrors:
        - identifier: trait.unused
        - identifier: missingType.iterableValue
        -
            message: '#Spatie\\Invade\\Invader#'
            identifier: method.notFound
        -
            message: '#Spatie\\Invade\\Invader#'
            identifier: property.notFound
        - '#FFI#'
        - '#Return type(.*?) of method Stancl\\Tenancy\\Database\\Models\\Tenant\:\:newCollection\(\) should be compatible with return type#'
        - '#Method Stancl\\Tenancy\\Database\\Models\\Tenant\:\:newCollection\(\) should return#'
        - '#Cannot access offset (.*?) on Illuminate\\Contracts\\Foundation\\Application#'
        - '#Cannot access offset (.*?) on Illuminate\\Contracts\\Config\\Repository#'
        - '#Call to an undefined method(.*?)Tenant\:\:run\(\).#'
        -
            message: '#Call to an undefined (method|static method) Illuminate\\Database\\Eloquent\\(Model|Builder)#'
            paths:
                - src/Commands/CreatePendingTenants.php
                - src/Commands/ClearPendingTenants.php
                - src/Database/Concerns/PendingScope.php
                - src/Database/ParentModelScope.php
        -
            message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model&Stancl\\Tenancy\\Contracts\\Tenant>\:\:withPending\(\)#'
            paths:
                - src/Concerns/HasTenantOptions.php
        -
            message: '#invalid type Laravel\\Telescope\\IncomingEntry#'
            paths:
                - src/Features/TelescopeTags.php
        -
            message: '#PHPDoc tag \@param has invalid value \(dynamic#'
            paths:
                - src/helpers.php
        -
            message: '#Illuminate\\Routing\\UrlGenerator#'
            paths:
                - src/Bootstrappers/FilesystemTenancyBootstrapper.php
        - '#Method Stancl\\Tenancy\\Tenancy::cachedResolvers\(\) should return array#'
        - '#Access to an undefined property Stancl\\Tenancy\\Middleware\\IdentificationMiddleware\:\:\$tenancy#'
        - '#Access to an undefined property Stancl\\Tenancy\\Middleware\\IdentificationMiddleware\:\:\$resolver#'
        -
            message: '#string\|false#'
            paths:
                - src/Controllers/TenantAssetController.php
        - '#expects int<1, max>, int given#'
        -
            message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:tenant\(\)#'
            paths:
                - src/RLS/PolicyManagers/TraitRLSManager.php
        -
            message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getRelationshipToPrimaryModel\(\)#'
            paths:
                - src/RLS/PolicyManagers/TraitRLSManager.php

    treatPhpDocTypesAsCertain: false
