name: CI

env:
  COMPOSE_INTERACTIVE_NO_CLI: 1

on:
  push:
    branches: [ 3.x, 2.x, master ]
  pull_request:
    branches: [ 3.x, 2.x, master ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php_version: ["7.4"]
        php_target: ["php:7.4-cli"]
        laravel: ["^6.0", "^8.0"]
        include:
          - php_version: "8.0"
          - php_target: "php:8.0.0RC5-cli"
          - laravel: "^8.0"

    steps:
    - uses: actions/checkout@v2
    - name: Start docker containers
      run: PHP_TARGET=${{ matrix.php_target }} PHP_VERSION=${{ matrix.php_version }} docker-compose up -d
    - name: Install dependencies
      run: docker-compose exec -T test composer require --no-interaction "laravel/framework:${{ matrix.laravel }}"
    - name: Run tests
      run: ./test
    - name: Send code coverage to codecov
      env:
        CODECOV_TOKEN: 24382d15-84e7-4a55-bea4-c4df96a24a9b
      run: bash <(curl -s https://codecov.io/bash)
