name: CI

env:
  COMPOSE_INTERACTIVE_NO_CLI: 1

on:
  push:
    branches: [ 3.x, 2.x, master ]
  pull_request:
    branches: [ 3.x, 2.x, master ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: ["7.2", "8.0"]
        laravel: ["^6.0", "^8.0", "^9.0"]
        exclude:
          - laravel: "^9.0"
            php: "7.2"

    steps:
    - uses: actions/checkout@v2
    - name: Start docker containers
      run: PHP_VERSION=${{ matrix.php }} docker-compose up -d
    - name: Install dependencies
      run: docker-compose exec -T test composer require --no-interaction "laravel/framework:${{ matrix.laravel }}"
    - name: Run tests
      run: ./test
