name: CI

env:
  COMPOSE_INTERACTIVE_NO_CLI: 1
  PHP_CS_FIXER_IGNORE_ENV: 1
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: ["8.1"]
        laravel: ["^9.0"]

    steps:
    - uses: actions/checkout@v2
    - name: Start docker containers
      run: PHP_VERSION=${{ matrix.php }} docker-compose up -d
    - name: Install dependencies
      run: docker-compose exec -T test composer require --no-interaction "laravel/framework:${{ matrix.laravel }}"
    - name: Run tests
      run: ./test

  php-cs-fixer:
    name: Code style (php-cs-fixer)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install php-cs-fixer
        run: composer global require friendsofphp/php-cs-fixer
      - name: Run php-cs-fixer
        run: $HOME/.composer/vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php
      - name: Commit changes from php-cs-fixer
        uses: EndBug/add-and-commit@v5
        with:
          author_name: "PHP CS Fixer"
          author_email: "phpcsfixer@example.com"
          message: Fix code style (php-cs-fixer)
